{% extends 'template.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
    <h1>Commandes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commande.id }}</td>
            </tr>
            <tr>
                <th>Mat</th>
                <td>{{ commande.mat }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ commande.date ? commande.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('commandes_index') }}">back to list</a>

    <a href="{{ path('commandes_edit', {'id': commande.id}) }}">edit</a>

    {{ include('commandes/_delete_form.html.twig') }}
{% endblock %}
